* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Rubik", sans-serif;
}

@font-face {
  font-family: "Rubik";
  font-weight: 300;
  font-display: block;
  src: url("../fonts/Rubik-Light.ttf");
}

@font-face {
  font-family: "Rubik";
  font-weight: 400;
  font-display: block;
  src: url("../fonts/Rubik-Regular.ttf");
}

@font-face {
  font-family: "Rubik";
  font-weight: 500;
  font-display: block;
  src: url("../fonts/Rubik-Medium.ttf");
}

@font-face {
  font-family: "Rubik";
  font-weight: 600;
  font-display: block;
  src: url("../fonts/Rubik-SemiBold.ttf");
}

@font-face {
  font-family: "Rubik";
  font-weight: 700;
  font-display: block;
  src: url("../fonts/Rubik-Bold.ttf");
}

@font-face {
  font-family: "Rubik";
  font-weight: 800;
  font-display: block;
  src: url("../fonts/Rubik-ExtraBold.ttf");
}

@font-face {
  font-family: "Rubik";
  font-weight: 900;
  font-display: block;
  src: url("../fonts/Rubik-Black.ttf");
}

html {
  scroll-behavior: smooth;
}

body {
  background: white;
}

.hidden {
  display: none;
}

.header {
  min-height: 100vh;
  padding-bottom: 3rem;
}

.header .nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1rem;
  margin: 0 3rem;
}

.header .nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header .nav ul li {
  list-style-type: none;
  margin: 0 1rem;
}

.header .nav ul li a {
  text-decoration: none;
  font-size: 22px;
  font-weight: 400;
  color: #53d6fe;
}

.header .nav1 {
  display: none;
  padding: 1rem;
  background-color: #1d3557;
  position: relative;
}

.header .nav1 .upper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .nav1 .upper i {
  font-size: 50px;
  color: #f1faee;
}

.header .nav1 ul {
  display: none;
  list-style: none;
}

.header .nav1 ul .plink {
  border-top: 1px solid #a8dadc;
  border-bottom: 1px solid #a8dadc;
}

.header .nav1 ul a {
  text-decoration: none;
  font-size: 25px;
  font-weight: 600;
  color: #457b9d;
  line-height: 1.4em;
  padding: 8px;
}

.header .intro {
  margin: 0 3rem;
  padding-top: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .intro img {
  width: 250px;
  height: 240px;
  border-radius: 50%;
  margin-bottom: 1rem;
}

.header .intro .role {
  font-size: 60px;
  font-weight: 800;
  margin: 1rem 0;
  color: #53d6fe;
  text-align: center;
}

.header .intro .role-desc {
  display: block;
  font-size: 24px;
  text-align: center;
  max-width: 70%;
  margin-bottom: 2.5rem;
}

.about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 80vh;
  background: radial-gradient(#62cbeb, #56b3cf, #14a5d1);
  color: white;
}

.about h4 {
  font-size: 40px;
  margin-bottom: 1rem;
  font-weight: 700;
  text-align: center;
}

.about p {
  max-width: 70%;
  text-align: center;
  font-size: 1.375em;
  font-weight: 400;
  line-height: 2.5rem;
}

.projects {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 2rem;
}

.projects .pt {
  font-size: 40px;
  font-weight: 700;
  color: #1d3557;
}

.projects .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 2rem;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.projects .row .project {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  border-radius: 5px;
  background-color: #f7f7f8;
  margin: 0 1rem;
  padding: 2rem;
  cursor: pointer;
  -webkit-box-shadow: 2px 3px 12px -1px rgba(0, 0, 0, 0.75);
          box-shadow: 2px 3px 12px -1px rgba(0, 0, 0, 0.75);
}

.projects .row .project .proj-img {
  width: 100%;
  height: 200px;
  border-radius: 10px;
}

.projects .row .project .projj {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.projects .row .project .projj .proj-img1 {
  -webkit-box-flex: 6;
      -ms-flex: 6;
          flex: 6;
  margin-right: 5px;
  height: 200px;
  border-radius: 10px;
}

.projects .row .project .projj .proj-img2 {
  -webkit-box-flex: 4;
      -ms-flex: 4;
          flex: 4;
  height: 200px;
  border-radius: 10px;
}

.projects .row .project .proj-desc {
  padding-top: 1rem;
}

.projects .row .project .proj-desc .proj-title {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 0.5rem;
  color: #1d3557;
}

.projects .row .project .proj-desc p {
  font-size: 16px;
  margin-bottom: 1.5rem;
}

.projects .row .project .proj-desc ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.projects .row .project .proj-desc ul li {
  list-style-type: none;
  padding: 4px 8px;
  border: 2px solid #1d3557;
  border-radius: 2px;
  margin: 3px;
  color: #457b9d;
}

.projects .row .project .proj-desc .source {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 1rem;
}

.projects .row .project .proj-desc .source span {
  padding: 6px 10px;
  background: #457b9d;
  font-weight: 600;
  margin-right: 4px;
}

.projects .row .project .proj-desc .source span a {
  text-decoration: none;
  color: whitesmoke;
}

.projects .row .project:hover {
  -webkit-box-shadow: 2px -1px 12px 0px rgba(0, 0, 0, 0.75);
          box-shadow: 2px -1px 12px 0px rgba(0, 0, 0, 0.75);
}

.projects .row .t {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.contact {
  background: #457b9d;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contact h2 {
  font-size: 3rem;
  padding-top: 1rem;
  color: #1d3557;
  text-decoration: underline;
}

.contact .f1 {
  padding: 7rem;
  color: #a8dadc;
}

.contact .f1 .footer-title {
  font-size: 2rem;
  text-align: center;
  margin-bottom: 1rem;
}

.contact .f1 .footer-desc {
  text-align: center;
  font-size: 1.375em;
  line-height: 1.4em;
  margin-bottom: 2rem;
}

.contact .f1 ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 1.5rem;
}

.contact .f1 ul li {
  list-style-type: none;
  margin: 0 1rem;
}

.contact .f1 ul li a {
  text-decoration: none;
}

.contact .f1 ul li a i {
  font-size: 1.5rem;
  border: 2px solid #a8dadc;
  border-radius: 50%;
  padding: 9px 10px;
  color: #1d3557;
}

.contact .f1 ul li a i:hover {
  background: #f1faee;
  color: #457b9d;
}

.contact .f2 {
  padding: 1rem;
  width: 100%;
  background: #043847;
}

.contact .f2 p {
  text-align: center;
  color: white;
  font-size: 18px;
  font-weight: 600;
}

@media (min-width: 992px) and (max-width: 1199px) {
  .projj .proj-img1 {
    height: 300px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .header .intro {
    padding-top: 0.5rem;
  }
  .header .intro .role {
    font-size: 60px;
  }
  .header .intro .role-desc {
    max-width: 90%;
  }
  .about p {
    max-width: 90%;
  }
  .projects .project {
    width: 90%;
  }
  .projects .project .projj .proj-img1 {
    height: 250px;
  }
  .projects .project .projj .proj-img2 {
    height: 250px;
  }
}

@media (min-width: 576px) and (max-width: 767px) {
  .header {
    padding-top: 0;
    padding-bottom: 0;
  }
  .header .nav {
    display: none;
  }
  .header .nav1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .header .intro {
    padding-top: 5rem;
    margin: 0;
    padding-bottom: 3.5rem;
  }
  .header .intro .role {
    font-size: 45px;
  }
  .header .intro .role-desc {
    max-width: 90%;
  }
  .about {
    padding: 5rem 0;
  }
  .about p {
    max-width: 90%;
  }
  .projects .project {
    width: 95%;
  }
  .projects .project .proj-img1 {
    width: 90%;
  }
  .projects .project .projj .proj-img1 {
    height: 250px;
  }
  .projects .project .projj .proj-img2 {
    height: 250px;
  }
  .contact .f1 {
    padding: 2rem;
  }
}

@media (max-width: 575px) {
  html,
  body {
    max-width: 100%;
    overflow-x: hidden;
  }
  .header {
    padding-top: 0;
    padding-bottom: 0;
  }
  .header .nav {
    display: none;
  }
  .header .nav1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .header .nav1 .upper .icon {
    width: 50px;
    height: 50px;
  }
  .header .nav1 .upper i {
    font-size: 25px;
  }
  .header .nav1 ul li a {
    font-size: 20px;
  }
  .header .intro {
    padding-top: 3rem;
    margin: 0;
    padding-bottom: 3.5rem;
  }
  .header .intro .role {
    font-size: 30px;
  }
  .header .intro .role-desc {
    max-width: 90%;
    font-size: 1.25rem;
  }
  .about {
    padding: 5rem 0;
  }
  .about h4 {
    font-size: 1.5em;
  }
  .about p {
    max-width: 90%;
    font-size: 1.2rem;
  }
  .projects .project {
    width: 95%;
  }
  .projects .project img {
    display: none;
  }
  .projects .project .projj {
    display: none;
  }
  .projects .project .projj .proj-img1 {
    height: 250px;
  }
  .projects .project .projj .proj-img2 {
    height: 250px;
  }
  .projects .project .proj-desc {
    padding: 2rem 1rem;
  }
  .projects .project .proj-desc h4 {
    font-size: 1.8em;
  }
  .projects .project .proj-desc p {
    font-size: 1.125em;
  }
  .projects .project .proj-desc ul li {
    margin-bottom: 1rem;
  }
  .contact h2 {
    font-size: 1.8em;
  }
  .contact .f1 {
    padding: 2rem;
  }
  .contact .f1 .footer-title {
    font-size: 1.5em;
  }
  .contact .f1 .footer-desc {
    font-size: 1.125em;
  }
  .contact .f1 ul li {
    margin: 0 0.5rem;
  }
}
/*# sourceMappingURL=style.css.map */