* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

@font-face {
    font-family: eurot;
    src: url(EurostileBold.ttf);
}

body {}

.header {
    min-height: 100vh;
    background: rgb(248, 231, 231);
    padding-top: 2rem;

    .nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-family: eurot, sans-serif;
        padding: 2rem;
        margin: 0 3rem;


        .title {
            color: #730b0b;
            font-weight: 600;
            font-size: 50px;
        }

        ul {
            display: flex;

            li {
                list-style-type: none;
                margin: 0 1rem;
            }
        }
    }

    .intro {
        margin: 0 3rem;
        padding-top: 4rem;
        display: flex;
        flex-direction: column;
        align-items: center;

        .role {
            font-size: 70px;
            font-weight: 800;
            margin-bottom: 1rem;
            color: #fc5c65;
        }

        .role-desc {
            display: block;
            font-size: 24px;
            text-align: center;
            max-width: 70%;
            margin-bottom: 2.5rem;
        }
    }
}

.about {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3rem 0;
    background: #eb3b5a;
    color: white;

    h4 {
        font-size: 30px;
        font-weight: 700;
    }

    p {
        max-width: 70%;
        text-align: center;
        font-size: 1.25rem;
    }
}

.projects {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem 0;


    .project {
        display: flex;
        flex-direction: column;
        border: 2px solid red;
        // height: 320px;
        width: 70%;
        border-radius: 5px;
        margin-top: 2rem;
        align-items: center;
        ;

        .proj-img {
            width: 86%;
            border-radius: 10px;
        }

        .proj-desc {
            padding: 2rem 3rem;

            .proj-title {
                font-size: 24px;
                font-weight: 700;
                margin-bottom: 1.5rem;
            }

            p {
                font-size: 20px;
                margin-bottom: 1.5rem;
            }

            ul {
                display: flex;
                flex-wrap: wrap;

                li {
                    list-style-type: none;
                    padding: 4px 8px;
                    border: 2px solid #be5656;
                    border-radius: 2px;
                    margin-right: 6px;
                }
            }

            .source {
                display: flex;
                // align-items: center;
                margin-top: 1rem;

                span {
                    padding: 6px 10px;
                    background: #be5656;
                    // color: whitesmoke;
                    font-weight: 600;
                    margin-right: 4px;

                    a {
                        text-decoration: none;
                        color: whitesmoke;
                    }
                }
            }
        }
    }
}