* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
}

@font-face {
  font-family: eurot;
  src: url(EurostileBold.ttf);
}

body {
  background: #f8e7e7;
}

.hidden {
  display: none;
}

.header {
  min-height: 100vh;
  padding-top: 2rem;
  padding-bottom: 3rem;
}

.header .nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: eurot, sans-serif;
  padding: 2rem;
  margin: 0 3rem;
}

.header .nav .title {
  color: #730b0b;
  font-weight: 600;
  font-size: 50px;
}

.header .nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header .nav ul li {
  list-style-type: none;
  margin: 0 1rem;
}

.header .nav ul li a {
  text-decoration: none;
  font-size: 25px;
  font-weight: 600;
  color: #fc5c65;
}

.header .nav1 {
  display: none;
  padding: 1rem;
  background-color: #333;
  position: relative;
}

.header .nav1 .upper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .nav1 .upper i {
  font-size: 50px;
  color: #fc5c65;
}

.header .nav1 ul {
  display: none;
  list-style: none;
}

.header .nav1 ul .plink {
  border-top: 1px solid #fc5c65;
  border-bottom: 1px solid #fc5c65;
}

.header .nav1 ul a {
  text-decoration: none;
  font-size: 25px;
  font-weight: 600;
  color: #fc5c65;
  line-height: 1.4em;
  padding: 8px;
}

.header .intro {
  margin: 0 3rem;
  padding-top: 4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .intro .role {
  font-size: 70px;
  font-weight: 800;
  margin-bottom: 1rem;
  color: #fc5c65;
  text-align: center;
}

.header .intro .role-desc {
  display: block;
  font-size: 24px;
  text-align: center;
  max-width: 70%;
  margin-bottom: 2.5rem;
}

.about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 7rem 0;
  background: radial-gradient(#e97b8f, #eb3b5a);
  color: white;
}

.about h4 {
  font-size: 30px;
  font-weight: 700;
  text-align: center;
}

.about p {
  max-width: 70%;
  text-align: center;
  font-size: 1.375em;
  line-height: 1.4em;
}

.projects {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 2rem 0;
}

.projects .pt {
  font-size: 40px;
  font-weight: 700;
}

.projects .project {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: #faeeee;
  width: 70%;
  border-radius: 5px;
  margin-top: 2rem;
}

.projects .project .proj-img {
  width: 86%;
  margin-top: 1rem;
  border-radius: 10px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.projects .project .projj {
  margin-top: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.projects .project .projj .proj-img1 {
  width: 60%;
  margin: 0 2%;
  border-radius: 10px;
}

.projects .project .projj .proj-img2 {
  width: 20%;
  height: 300px;
  border-radius: 10px;
}

.projects .project .proj-desc {
  padding: 2rem 3rem;
}

.projects .project .proj-desc .proj-title {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 1.5rem;
}

.projects .project .proj-desc p {
  font-size: 20px;
  margin-bottom: 1.5rem;
}

.projects .project .proj-desc ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.projects .project .proj-desc ul li {
  list-style-type: none;
  padding: 4px 8px;
  border: 2px solid #be5656;
  border-radius: 2px;
  margin-right: 6px;
}

.projects .project .proj-desc .source {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 1rem;
}

.projects .project .proj-desc .source span {
  padding: 6px 10px;
  background: #be5656;
  font-weight: 600;
  margin-right: 4px;
}

.projects .project .proj-desc .source span a {
  text-decoration: none;
  color: whitesmoke;
}

.contact {
  background: #faf5f5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contact h2 {
  font-size: 3rem;
  padding-top: 1rem;
}

.contact .f1 {
  padding: 7rem;
}

.contact .f1 .footer-title {
  font-size: 2rem;
  text-align: center;
  margin-bottom: 1rem;
}

.contact .f1 .footer-desc {
  text-align: center;
  font-size: 1.375em;
  line-height: 1.4em;
  margin-bottom: 2rem;
}

.contact .f1 ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 1.5rem;
}

.contact .f1 ul li {
  list-style-type: none;
  margin: 0 1rem;
}

.contact .f1 ul li a {
  text-decoration: none;
}

.contact .f1 ul li a i {
  font-size: 1.5rem;
  border: 2px solid red;
  border-radius: 50%;
  padding: 9px 10px;
  color: #eb3b5a;
}

.contact .f1 ul li a i:hover {
  background: #eb3b5a;
  color: white;
}

.contact .f2 {
  padding: 1rem;
  width: 100%;
  background: #fc5c65;
}

.contact .f2 p {
  text-align: center;
}

@media (min-width: 992px) and (max-width: 1199px) {
  .projj .proj-img1 {
    height: 300px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .header .intro {
    padding-top: 0.5rem;
  }
  .header .intro .role {
    font-size: 60px;
  }
  .header .intro .role-desc {
    max-width: 90%;
  }
  .about p {
    max-width: 90%;
  }
  .projects .project {
    width: 90%;
  }
  .projects .project .projj .proj-img1 {
    height: 250px;
  }
  .projects .project .projj .proj-img2 {
    height: 250px;
  }
}

@media (min-width: 576px) and (max-width: 767px) {
  .header {
    padding-top: 0;
    padding-bottom: 0;
  }
  .header .nav {
    display: none;
  }
  .header .nav1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .header .intro {
    padding-top: 5rem;
    margin: 0;
    padding-bottom: 3.5rem;
  }
  .header .intro .role {
    font-size: 45px;
  }
  .header .intro .role-desc {
    max-width: 90%;
  }
  .about {
    padding: 5rem 0;
  }
  .about p {
    max-width: 90%;
  }
  .projects .project {
    width: 95%;
  }
  .projects .project .proj-img1 {
    width: 90%;
  }
  .projects .project .projj .proj-img1 {
    height: 250px;
  }
  .projects .project .projj .proj-img2 {
    height: 250px;
  }
  .contact .f1 {
    padding: 2rem;
  }
}
/*# sourceMappingURL=style.css.map */